
#birthdayview{
    display: flex;
    flex-direction: column;

justify-content: center;
align-items: center;
align-content: center;


}

#birthdayPicture{
    height: 10rem;
    width:10rem;
    padding:3px;
    border: 5px inset rgb(188,175,101);
    box-shadow: 10px 0px 13px -7px #000000, 0px 7px 13px -7px #000000;
    border-radius: 10px 10px 10px 10px;
}

#birthdayInfo{
    padding:10px;
text-align: center;
}

#emailInput{
    height:5vh;
    width:25rem;
}

#messageinput{
    box-shadow: 10px 0px 13px -7px #897b7b, 0px 7px 13px -7px #000000;
    border-radius: 10px 10px 10px 10px;
}