#header {
    max-width: 100vw;
    height: 5rem;
    background-color: rgba(252, 142, 52, 0.792);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
#profileText{
height:3rem;
    text-decoration: none;
display:flex;
justify-content: center;
align-items: center;
align-content: center;
}
#homeIcon{
    height:4rem;
    margin-left:20px;
    display:flex;
    justify-content:flex-start;
}
#linkPeople{
    text-decoration: none;
    color:black
}
#linkPeople:hover{
    text-decoration:underline;
}

#profileLink{
    display:none;
    background-color: rgba(252, 142, 52, 0.792);
    position:absolute
}

#profileToggle:hover #profileLink{
    display: flex;
    justify-content: center;
align-items: center;
align-content: center;
flex-direction: column;

}


#routes{
    display: flex;
    width: 100rem;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding:16px;

}


section h2 {
    padding:15px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-left:5px;
  margin-right:10px;
  border-left: 10px solid rgb(242, 230, 207);
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  margin-right: 5px;
  margin-left:10px;
  border-right:10px solid rgb(242, 230, 207);
  
}


#backandforth{
    display:flex;
    width: 3rem;
    height:3rem;

}

#linkGroups{
    text-decoration: none;
    color:black
}
#linkGroups:hover{
text-decoration:underline;
}
#logout{
    text-decoration: none;

}