#group{
display: grid;
grid-template-columns: 3% 29.333% 3% 29.333% 3% 29.333% 3%;
background-color: rgb(241,170,111);
width: 25%;
height:8rem;
margin-bottom:0.5rem;
margin-top:0.5rem;
margin-left:0.5rem;
margin-right:0.5rem;
box-shadow: 10px 0px 13px -7px #000000, 0px 7px 13px -7px #000000;
}
#groups{
display:flex;
flex-wrap: wrap;
flex-direction: row-reverse;
width:100vw;
justify-content:center;
align-items: center;
align-content: center;
margin-top:4rem;

}