#birthday{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}
#sand{
    width: 80vw;
}
#calm{
    width: 20vw;
    height: 3vh;
}
body{
    display: flex;
    background-color: violet;
    width:100vw;
}
#box{
    height: 10vh;
    width: 10vh;
    float: right;
    background-color: aquamarine;
}
#candy{ 
    display: none;
    background-color: #ff69b4;
    height: 10rem;
    width:20vw;
    float:right;
    margin-top:5px;
    z-index: 1;
}

#dynamyte
{ 
    background-color: forestgreen;

display: none;}



#birthday:hover #candy{
    display:block
}

#candy:hover #dynamyte{
    display:block
}