#holder{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(252, 142, 52, 0.792);

}
#mainProfile{
    background-color: rgb(240,230,209);
    height:90vh;
    width:90%;
    display: flex;
    justify-content: flex-start;
flex-direction: column;
border: 5px inset rgb(188,175,101);
box-shadow: 10px 0px 13px -7px #000000, 0px 7px 13px -7px #000000;
border-radius: 10px 10px 10px 10px;
}

#picInfo{
    display:flex;

}

#profilePic{
    width: 30vh;
    height:30vh;
    background-color: rgb(186,147,68);
    margin-left:2.5vh;
    margin-top:2.5vh;
box-shadow: 10px 0px 13px -7px #897b7b, 0px 7px 13px -7px #000000;
border-radius: 10px 10px 10px 10px;

}
#profileInfo{
    margin-top:4vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height:30vh;
    width:fit-content
}
#profileInfo li{
    padding-top:1.5vh; 
    padding-bottom:1.5vh; 
    margin-left:1.5vh; 
    margin-right:1.5vh; 
}

#profileName{
    display:flex;
    justify-content: center;
}

#messageParagraph{
    margin:10px;
}