body{
    width: 100vw;

    font-family:'Nunito Regular', 'Nunito SemiBold', 'Nunito Light', 'Nunito Bold Italic';

}

.App{
    background-image:url('./Gather_honeycombs.png');
    background-repeat:repeat;

}